*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: beige;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

#funtions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#funtions input{
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;
}

#funtions button{
    padding: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    border: 2px solid #000;
}
h3{
    margin-top: 1rem;
    font-size: 2rem;
}








img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 4) Form and interactive elements */
input, button, textarea, select {
    font: inherit;
}

/* 5) Motion preferences */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}